.inter3_text1 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 110px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
}

.inter3_text2 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 170px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    -moz-animation-fill-mode: forwards;
}

.inter3_text3 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 230px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
}

#Result_Brd {
    left: 7px;
    top: 296px;
    position: absolute;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    z-index: 1;
}

#Cloud_Black_Happy {
    left: 90px;
    top: 355px;
    position: absolute;
    z-index: 2;
}

#Result_Brd, #Cloud_Black_Happy {
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1.5s;
    -moz-animation-fill-mode: forwards;
}

.Dialogue_5 {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    width: 200px;
    height: 80px;
    left: 35px;
    top: 320px;
    position:absolute;
    z-index: 1;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;
}

.dialogue_5 {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-size: 16px;
    width: 200px;
    height: auto;
    z-index: 3;

    left: 0px;
    top: 20px;
    position: absolute;
}

#ball_5 {
    margin: 0px auto;
    padding: 0px;
    font-size: 16px;
    z-index: 2;
    transform:rotate(0deg);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1);
}

.NextButton_7 {
    margin-left: auto;
    margin-right: auto;
    left: 100px;
    top: 513px;
    position: absolute;
    z-index: 4;
}

#next_7 {
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 3s;
    -moz-animation-fill-mode: forwards;
}