.IntroText {
    margin: 0px auto;
    text-align: center;
    font-size: 14px;
    width: 260px;
    height: auto;
    left: 30px;
    top: 90px;
    position:absolute;
    z-index: 1;

    opacity: 0;

    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
}

.Page1_Coc {
    left: 30px;
    top: 213px;
    z-index: 0;
    position: absolute;
    
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;

}

.IntroText_2 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 260px;
    height: auto;
    left: 30px;
    top: 362px;
    position:absolute;

    
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;
}

.z1 {
    margin: 0px auto;
    text-align: center;
    font-size: 11px;
    width: 6px;
    height: auto;
    left: 230px;
    top: 378px;
    position:absolute;

    
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2.5s;
    -moz-animation-fill-mode: forwards;
}

.z2 {
    margin: 0px auto;
    text-align: center;
    font-size: 19px;
    width: 7px;
    height: auto;
    left: 237px;
    top: 365px;
    position:absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 3s;
    -moz-animation-fill-mode: forwards;
}

.z3 {
    margin: 0px auto;
    text-align: center;
    font-size: 26px;
    width: 8px;
    height: auto;
    left: 247px;
    top: 350px;
    position:absolute;

    
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 3.5s;
    -moz-animation-fill-mode: forwards;
}

.NextButton {
    margin-left: auto;
    margin-right: auto;
    left: 100px;
    top: 437px;
    position: absolute;

}

#next {
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 4s;
    -moz-animation-fill-mode: forwards;
}