.inter7_text1 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 110px;
    position:absolute;

    animation-name: textsmaller;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
    -webkit-animation-name: textsmaller;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: textsmaller;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
}

.inter7_text2 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 143px;
    position:absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
}

.inter7_text3 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 231px;
    position:absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1.5s;
    -moz-animation-fill-mode: forwards;
}

.inter7_text4 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 316px;
    position:absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;
}

.inter7_text5 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 376px;
    position:absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2.5s;
    -moz-animation-fill-mode: forwards;
}

.resultpage {
    text-align: center;
    width: 160px;
    height: 42px;
    border: 2px dashed #6b97a3;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Gamja Flower', cursive;
    font-size: 16px;

    margin-left: auto;
    margin-right: auto;
    left: 80px;
    top: 455px;
    position: absolute;
    z-index: 4;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 3s;
    -moz-animation-fill-mode: forwards;
}

.resultpage:hover {background-color: #d7e8ec;}
.resultpage:active {background-color: #d7e8ec;}

@keyframes textsmaller {
    from{scale: 10;}
    to{scale: 1;}
}

@-webkit-keyframes textsmaller {
    from{scale: 10;}
    to{scale: 1;}
}

@-moz-keyframes textsmaller {
    from{scale: 10;}
    to{scale: 1;}
}