#Drop1 {
    left: 0px;
    top: 70px;
    position: absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
}

#Drop2 {
    left: 220px;
    top: 80px;
    position: absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.25s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.25s;
    -moz-animation-fill-mode: forwards;
}

#Drop3 {
    left: 15px;
    top: 250px;
    position: absolute;

    opacity: 0;

    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    -moz-animation-fill-mode: forwards;
}

#Drop4 {
    left: 220px;
    top: 170px;
    position: absolute;

    opacity: 0;

    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.75s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.75s;
    -moz-animation-fill-mode: forwards;
    
}

#Drop5 {
    left: 185px;
    top: 240px;
    position: absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
}

#Drop6 {
    left: 130px;
    top: 260px;
    position: absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1.5s;
    -moz-animation-fill-mode: forwards;
}

.inter6_text1 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 373px;
    position:absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;
}

.inter6_text2 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 413px;
    position:absolute;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2.5s;
    -moz-animation-fill-mode: forwards;
}

.nextbutton_9 {
    text-align: center;
    width: 160px;
    height: 42px;
    border: 2px dashed #6b97a3;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Gamja Flower', cursive;
    font-size: 16px;

    margin-left: auto;
    margin-right: auto;
    left: 80px;
    top: 503px;
    position: absolute;
    z-index: 4;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 3s;
    -moz-animation-fill-mode: forwards;

}

.nextbutton_9:hover {background-color: #d7e8ec;}
.nextbutton_9:active {background-color: #d7e8ec;}