.aut1_text1 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 260px;
    height: auto;
    left: 30px;
    top: 70px;
    position:absolute;
    z-index: 3;

    opacity: 0;

    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
}

.aut1_text2 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 260px;
    height: auto;
    left: 30px;
    top: 132px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    -moz-animation-fill-mode: forwards;
}

#Cloud_After_Q {
    left: 40px;
    top: 140px;
    position: absolute;
    z-index: 1;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
}

#Cloud_Black_Q {
    left: 45px;
    top: 202px;
    position: absolute;
    z-index: 2;
    
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1.5s;
    -moz-animation-fill-mode: forwards;
}

.aut1_text3 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 260px;
    height: auto;
    left: 30px;
    top: 326px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1.5s;
    -moz-animation-fill-mode: forwards;
}

.aut1_text4 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 260px;
    height: auto;
    left: 30px;
    top: 397px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;
}

#Aut1s1 {
    margin-left: auto;
    margin-right: auto;
    left: 40px;
    top: 441px;
    position: absolute;
    z-index: 2;
}

#Aut1s2 {
    margin-left: auto;
    margin-right: auto;
    left: 40px;
    top: 513px;
    position: absolute;
    z-index: 2;
}

#Aut1s3 {
    margin-left: auto;
    margin-right: auto;
    left: 40px;
    top: 585px;
    position: absolute;
    z-index: 2;
}

#Aut1s4 {
    margin-left: auto;
    margin-right: auto;
    left: 40px;
    top: 657px;
    position: absolute;
    z-index: 2;
}

#Aut1s1, #Aut1s2, #Aut1s3, #Aut1s4 {
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 3s;
    -moz-animation-fill-mode: forwards;
}