#Cloud_After_Sad_2 {
    left: 33px;
    top: 60px;
    position: absolute;
    z-index: 1;

    opacity: 0;

    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
}

.inter1_text1 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 212px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    -moz-animation-fill-mode: forwards;
}

.inter1_text2 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 248px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
}

.inter1_text3 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 335px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1.5s;
    -moz-animation-fill-mode: forwards;
}

.inter1_text4 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 395px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;
}

#Page14_Cloud_Sad {
    left: 30px;
    top: 422px;
    position: absolute;
    z-index: 1;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2.5s;
    -moz-animation-fill-mode: forwards;
}

.inter1_text5 {
    margin: 0px auto;
    text-align: center;
    font-size: 17px;
    width: 280px;
    height: auto;
    left: 20px;
    top: 556px;
    position:absolute;
    z-index: 3;

    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 3s;
    -moz-animation-fill-mode: forwards;
}

.NextButton_5 {
    margin-left: auto;
    margin-right: auto;
    left: 100px;
    top: 618px;
    position: absolute;
}

#next_5 {
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 4s;
    -moz-animation-fill-mode: forwards;
}